@model VisitorManagementSystem.Models.Visitors
@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/logo.png" height="113" width="113" border="0" />
<h1 class="display-4">@ViewBag.Welcome @ViewBag.VisitorsNew.FirstName @ViewBag.VisitorsNew.LastName</h1>
<h2>@ViewData["AnotherWelcome"]</h2>
<div class="row">
    <div class="col-6">
        @await Html.PartialAsync("_Create")
    </div>

    <div class="col-6">
        
    </div>
</div>
<div class="row">
    @await Html.PartialAsync("_Conditions")
</div>



